<% if(alerts.error) { %>
	<% alerts.error.forEach(function(message) { %>
		<div class='alert lighten-2 center form-background z-depth-5' id="success-alert">
			<p>Oops! <%=message%> </p>
		</div>
	<% }) %>
<% } %>




<script>
		[...document.getElementsByClassName('okay')].forEach(function(element){
			element.addEventListener('click', function(){
				document.getElementsByClassName('alert')[0].style.display = 'none';
			});
		});
</script>