<% if(alerts.error) { %>

	<div class="row">
		<div class="col s12">
			<div class="card red lighten-3">
				<div class="card-content white-text">
					<span class="card-title">Error</span>
					<% alerts.error.forEach((msg) => { %>
						<p><%= msg %></p>
					<% }); %>
				</div>
				<div class="card-action white-text">
					<p class="closeable">Close</p>
				</div>
			</div>
		</div>
	</div>

<% }; %>





<script>
	[...document.getElementsByClassName('closeable')].forEach((elem) => {
		elem.addEventListener('click', (() => {
			document.getElementsByClassName('card')[0].style.display = 'none';
		}));
	});
</script>