
<div class="container">
	<img src="<%= user.image %>" alt="Profile Picture" class="profile-pic">
	<h4>Edit Profile</h4>
	<div>
		<form method="POST" action="/profile/edit/<%= user.id %>/?_method=PUT">
			<label for="image">Image URL</label>
			<input id="image" type="url" name="image">
			<label for="email">Email:</label>
			<input type="text" name="email" id="email">
			<label for="bio">Bio:</label>
			<input type="text" name="bio" id="bio">
			<input type="submit" value="Update" id="update-btn"></button>	
		</form>
	</div>
</div>
