<div class="slider">
	<div class="load">
	</div>
	<div class="content">
		<div class="principal">
		    <h1>WANDERLIST</h1>
			<a href="../auth/signup">
				<button id="main-signup">SIGN UP</button>
			</a>
		</div>
	</div>
</div>


