<div class="slider">
	<div class="load">
	</div>
	<div class="content">
		<div class="principal">
			<h1 id="main-text">WANDERLIST</h1>
			<p class="quote">“I haven’t been everywhere, but it’s on my list.” </p>
			<p class="quote">– Susan Sontag</p>
			<p id="main-description">Search for destinations and plan your future trips.</p>
			<% if (!user) { %>
			<a href="../auth/signup">
				<button id="main-signup">SIGN UP</button>
			</a>
			<% } else { %>
				<a href="../search">
					<button id="main-signup">FIND YOUR NEXT ADVENTURE</button>
				</a>
			<% }; %>
		</div>
	</div>
</div>


