<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WanderList</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  	<nav>
	    <div class="nav-wrapper">
	      <a href="/" class="brand-logo"><i class="material-icons">cloud</i>Home</a>
	      <ul class="right">
	      	<% if(!user) { %>
	      		<li><a href="/auth/login">Log In</a></li>
	        	<li><a href="/auth/signup">Sign Up</a></li>
	        <% } else { %>
	      		<li><a href="/search">Search</a></li>
	      		<li><a href="/profile">My List</a></li>
	      		<li><a href="/auth/logout">Logout</a></li>
	      	<% } %>
	      </ul>
	    </div>
  	</nav>
	<div class="container">
		<% include partials/alerts %>
	</div>	
		<%- body%>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
    		var elems = document.querySelectorAll('.datepicker');
    		var instances = M.Datepicker.init(elems, {
    			autoClose: true,
    			maxDate: new Date(),
    			yearRange: [1920, 2019]
    		});
  		});
  		 document.addEventListener('DOMContentLoaded', function() {
    		var elems = document.querySelectorAll('.slider');
    		var instances = M.Slider.init(elems);
  		});
	</script>
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</body>
</html>