<h1><%= user.firstname %>'s WanderList</h1>


<!-- <p>Would like to include city, country, current weather</p>
<p>places are linked to show.id</p> --> 
<div class="row">
	<div class="col s3">
		<div>
			<ul>
				<% allPlaces.forEach((p) => {%>
					<li>
						<img src="<%= p.image %>">
						<%= p.description %>
						<form method="POST" action="/profile/<%= p.id %>/?_method=DELETE">
							<input type="submit" value="Delete">
						</form>	
					</li>
				<% }); %>
			</ul>
		</div>
	</div>
</div>