<!-- need method-override on this form to delete places from profile page. -->

<form method="POST" action="/places/search">
	<input type="text" name="search" placeholder="Where would you like to go?" id="search">
	<input type="submit" value="Search">
</form>



<!-- Look at geocode example -->
<h5>Display Search results below</h5>


<!-- place img -->	
<%= place.description %>

<!-- display 20 attractions, for each with all hidden inputs. See geocode example -->





