<div class="container">
	<h1><%= place.description %></h1>
	<img src="<%= place.image %>">
	<h3>Things to do:</h3>
	<div>
		<ul>
			<% pointOfInterest.forEach((p) =>{ %>
				<li>
					<%= p.name %>
				</li>
			<% }); %>
		</ul>
	</div>
</div>