body, html {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	background: #f7f7f7;
	text-align: center;
}

* {
	margin: 0;
	padding: 0;
}

nav {
	font-family: 'Raleway Dots', cursive;
	background: black !important;
	color: white;
	padding: .5em .5em 0 .5em;
}

nav a {
	text-decoration: none;
	font-weight: bold;
	font-size: 28px;
}

nav a:hover {
	color: orange; 
}

ul {
	display: flex;
	justify-content: flex-end;
}


.account-btns {
	color: orange;
}

.load {
	animation: slide 2s;
}


.slider {
	background-repeat: no-repeat;
	background-size: cover !important;
	background-position: center;
	height: 100% !important;
	animation: slide 30s infinite;
}

.content {
	color: #fff;
	width: 100%;
	height: 90vh;
	background-color: rgba(0, 0, 0, 0.5);
}

.principal {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	letter-spacing: 5px;
	text-align: center;
}


@keyframes slide {
	0% {
		background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/6d/Dream_vacation_in_the_Seychelles_%2839617021541%29.jpg');
	}
	20% {
		background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/6d/Dream_vacation_in_the_Seychelles_%2839617021541%29.jpg');
	}
	20.01% {
		background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Wanderlust_in_my_blood.jpg');
	}
	40% {
		background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Wanderlust_in_my_blood.jpg');		
	}
	40.01% {
		background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/cb/Wanderlust.jpg');		
	}	
	60% {
		background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/cb/Wanderlust.jpg');		
	}
	60.01% {
		background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c2/Lincoln%27s_Rock%2C_Wentworth_Falls%2C_Australia_%28Unsplash%29.jpg');		
	}
	80% {
		background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c2/Lincoln%27s_Rock%2C_Wentworth_Falls%2C_Australia_%28Unsplash%29.jpg');		
	}	
	80.01% {
		background-image: url('https://s.abcnews.com/images/Travel/161103_vod_orig_travel_destinations_16x9_992.jpg');		
	}
	100% {
		background-image: url('https://s.abcnews.com/images/Travel/161103_vod_orig_travel_destinations_16x9_992.jpg');		
	}
}

.myList {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: space-between;
	text-align: center;
}

.round-image {
	border-radius: 50%;
	height: 250px;
	width: 250px;
	justify-content: center;
}

.place-box {
	height: 350px;
	width: 350px;
	margin: 30px 0;
}

.show-image {
	height: 400px;
	width: 100%;

}

.main {
	min-height: 90%;
	padding-bottom: -80px;
}

#main-signup {
	margin-top: 15px;
	font-size: 2em;
	box-shadow: 0 0 0 2px #fff inset!important;
	background: 0 0;
	color: #fff;
	text-shadow: none !important;
	padding: .5em;
	border-radius: 10px;
	font-family: 'Raleway', cursive;
}

#main-signup:hover {
	color: orange;
}

#signup-btn, #login-btn, #search-btn, #update-btn {
	margin: 20px 0;
	font-size: 1.5em;
	background: rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 0 0 rgba(39, 41, 43, .15) inset;
	text-shadow: none;
	color: #fff;
	padding: .5em;
	border-radius: 10px;
	font-family: 'Raleway Dots', cursive;
}

#footer {
	display: flex;
	justify-content: space-between;
	position: relative;
	height: 70px;
	background-color: black;
	color: white;
	margin: 0 auto;
	clear: both;
	font-family: 'Raleway Dots', cursive;
}

#footer-left { 
	margin-left: 10px;
}

#footer-right {
	margin-right: 10px;
}

h2, h5, h4 {
	font-family: 'Raleway', cursive;
	padding-bottom: 10px;
}

.alert {
	background: grey !important;
	max-height: 150px;
}

#search {
	margin-top: 40px;
}

.add-place-btn {
	margin-top: 20px;
	font-size: 1em;
	border-color: orange;
	padding: 1em;
	border-radius: 10px;
	font-family: 'Raleway', cursive;
}

strong {
	color: orange;
}

.add-poi-btn {
	font-size: 1em;
	color: orange;
	padding: .5em;
	border-radius: 10px;
	font-family: 'Raleway', cursive;
	display: inline-block;
}

.delete-btns {
	font-size: 1em;
	background: rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 0 0 rgba(39, 41, 43, .15) inset;
	color: lightgrey;
	padding: .5em;
	border-radius: 10px;
	font-family: 'Raleway', cursive;
}

.card-img {
	height: 250px;
}

.card {
	width: 300px;
	height: auto;
	margin: 20px !important;
}
.card-action {
	display: flex;
	justify-content: space-between;
}

.card-left {
	text-align: left !important;
}

.search-image {
	background-color: rgba(0, 0, 0, 0.8);
}
.place-name {
	color: white;
	font-family: 
	text-align: left;
	margin-left: 10px;
	font-family: 'Raleway', cursive;	
}

.place-link {
	color: orange;
}

#main-text{
	font-family: 'Raleway Dots', cursive;
}

.quote {
	font-size: 20px;
	font-family: 'Raleway Dots', cursive;
}

#main-description {
	margin-top: 30px;
	font-size: 25px;
	font-family: 'Shadows Into Light Two', cursive;
}

.card-wrapper {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}

.profile-pic {
	border-radius: 50%;
	height: 400px;
	width: 400px;
	margin-top: 20px;
}

.edit-btn {
	color: grey;
}